@{
    ViewData["Title"] = "Dashboard";
}

<div class="text-center">
    <h1 class="display-4">Seja bem Vindo ao Núcleo de Inteligência Corporativa da Apollyon Inc.</h1>
    <p>2010 á 2020</p>
</div>
