<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Apollyon Inc</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-warning border-bottom box-shadow mb-3">
            <div class="container">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">Apollyon Inc</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                @*Vendas*@
                <div class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle-split text-body text-center" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <img src="~/img/rent_25px.png" /> Vendas
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" asp-area="" asp-controller="Home" asp-action="Index"><img src="~/img/exercise_25px.png" />Venda Rápida</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" asp-area="" asp-controller="Pessoas_e_Empresas" asp-action="Index"><img src="~/img/conference_foreground_selected_25px.png" />Clientes</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" asp-area="" asp-controller="Home" asp-action="Index"><img src="~/img/page_25px.png" />Orçamentos</a>
                        <a class="dropdown-item" asp-area="" asp-controller="Home" asp-action="Index"><img src="~/img/check_25px.png" />Pedidos</a>
                    </div>
                </div>
                @*HelpDesk*@
                <div class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle-split text-body text-center" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <img src="~/img/technical_support_25px.png" /> HelpDesk
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" asp-area="" asp-controller="Home" asp-action="Index"><img src="~/img/new_ticket_25px.png" />Abrir Chamado</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" asp-area="" asp-controller="Home" asp-action="Index"><img src="~/img/ticket_purchase_25px.png" />Gerênciar Chamados </a>
                    </div>
                </div>
                @*Catalogo*@
                <div class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle-split text-body text-center" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <img src="~/img/catalogo.png" />Catálogo
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" asp-area="" asp-controller="Home" asp-action="Index"><img src="~/img/product_25px.png" />Produto</a>
                        <a class="dropdown-item" asp-area="" asp-controller="Home" asp-action="Index"><img src="~/img/service_25px.png" />Serviço</a>
                        <a class="dropdown-item" asp-area="" asp-controller="Home" asp-action="Index"><img src="~/img/contract_25px.png" />Contrato</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" asp-area="" asp-controller="Home" asp-action="Index"><img src="~/img/fornecedores.png" />Fornecedores</a>
                        <a class="dropdown-item" asp-area="" asp-controller="Home" asp-action="Index"><img src="~/img/page_25px.png" />Orçamentos</a>
                        <a class="dropdown-item" asp-area="" asp-controller="Home" asp-action="Index"><img src="~/img/check_25px.png" />Pedidos</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" asp-area="" asp-controller="Home" asp-action="Index"><img src="~/img/Gerenciar Movimentações.png" />Gerênciar Estoque</a>
                        <a class="dropdown-item" asp-area="" asp-controller="Home" asp-action="Index"><img src="~/img/Movimentar estoque.png" />Movimentar Estoque</a>
                        <a class="dropdown-item" asp-area="" asp-controller="Home" asp-action="Index"><img src="~/img/drag_25px.png" />Gerênciar Movimentações</a>
                        <a class="dropdown-item" asp-area="" asp-controller="Home" asp-action="Index"><img src="~/img/barcode_25px.png" />Impressão de Etiquetas</a>
                        <a class="dropdown-item" asp-area="" asp-controller="Home" asp-action="Index"><img src="~/img/Combo.png" />Gerênciar Combos</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" asp-area="" asp-controller="Home" asp-action="Index"><img src="~/img/config.png" />Categorias</a>
                        <a class="dropdown-item" asp-area="" asp-controller="Home" asp-action="Index"><img src="~/img/config.png" />Unidade de Medidas</a>
                        <a class="dropdown-item" asp-area="" asp-controller="Home" asp-action="Index"><img src="~/img/config.png" />Marcas</a>
                        <a class="dropdown-item" asp-area="" asp-controller="Home" asp-action="Index"><img src="~/img/config.png" />Locais de Estoque</a>
                        <a class="dropdown-item" asp-area="" asp-controller="Home" asp-action="Index"><img src="~/img/config.png" />Tipo de Estocagem</a>
                        <a class="dropdown-item" asp-area="" asp-controller="Home" asp-action="Index"><img src="~/img/config.png" />Motivo de Transferência</a>
                    </div>
                </div>
                @*Financeiro*@
                <div class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle-split text-body text-center" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <img src="~/img/bank_25px.png" />Financeiro
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" asp-area="" asp-controller="Home" asp-action="Index"><img src="~/img/FLUXO DE CAIXA.png" />Fluxo de Caixa</a>
                        <a class="dropdown-item" asp-area="" asp-controller="Home" asp-action="Index"><img src="~/img/MOVIMENTAÇÃO DE CAIXA.png" />Movimentação de Caixa</a>
                        <a class="dropdown-item" asp-area="" asp-controller="Home" asp-action="Index"><img src="~/img/BANCO.png" />Conciliação Bancária</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" asp-area="" asp-controller="Home" asp-action="Index"><img src="~/img/PAGAMENTO.png" />Gerênciar Pagamentos</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" asp-area="" asp-controller="Home" asp-action="Index"><img src="~/img/RECEBMENTO.png" />Gerênciar Recebimentos</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" asp-area="" asp-controller="Home" asp-action="Index"><img src="~/img/COBRANÇA.png" />Cobranças</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" asp-area="" asp-controller="Home" asp-action="Index"><img src="~/img/NFE.png" />NF-E</a>
                        <a class="dropdown-item" asp-area="" asp-controller="Home" asp-action="Index"><img src="~/img/NFE.png" />NFS-E</a>
                        <a class="dropdown-item" asp-area="" asp-controller="Home" asp-action="Index"><img src="~/img/NFCE.png" />NFC-E</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" asp-area="" asp-controller="Home" asp-action="Index"><img src="~/img/config.png" />Conta Corrente</a>
                        <a class="dropdown-item" asp-area="" asp-controller="Home" asp-action="Index"><img src="~/img/config.png" />Conta Gerêncial</a>
                        <a class="dropdown-item" asp-area="" asp-controller="Home" asp-action="Index"><img src="~/img/config.png" />Tipos de Pagamento</a>
                    </div>
                </div>
                @*Pesquisa*@
                <form class="d-flex">
                    <input class="form-control me-2" type="search" placeholder="Procurar" aria-label="Search">
                    <button class="btn btn-dark" type="submit">Procurar</button>
                </form>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2010 á 2020 - ApollyonInc - Todos os direitos Resevados - <a asp-area="" asp-controller="Home" asp-action="Privacy">Política de Privacidade</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
